﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Sol_New_Aarti_Project.Main" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

   
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <header>
            <div class="w3-bar w3-orange">
                <asp:Button ID="btnRetail" runat="server" Text="Retail" class="w3-bar-item w3-button"  PostBackUrl="~/View/Pages/Retailer.aspx"/>
                <asp:Button ID="btnProduct" runat="server" Text="Product" class="w3-bar-item w3-button" PostBackUrl="~/View/Pages/Product.aspx" />
                <asp:Button ID="btnStock" runat="server" Text="Stock" class="w3-bar-item w3-button" PostBackUrl="~/View/Pages/Stock.aspx" />
                <asp:Button ID="btnProductSupply" runat="server" Text="ProductSupply" class="w3-bar-item w3-button" PostBackUrl="~/View/Pages/ProductSupply.aspx" />
            </div>
        </header>


        <section>
             <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">        
            </asp:ContentPlaceHolder>
        </section>


    </div>
    </form>
</body>
</html>
